.site-title {
    color: #222;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
    margin: 15px 0 0;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .1); */
    text-shadow: 2px 1px #ffcd38;
  }

.section-title-home {
    /* display: inline-block;
    position: relative; */
    margin: 66px 0 0 0;
    padding: 10px 20px 10px 20px;
    background-color: #ffcd38;
    
    /* line-height: 1.1em; */
    font-weight: 500;
    font-size: 1.5em;
    
    text-align: center;
    width: 100%;
  
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 0px rgb(105, 109, 112), 
                 2px -2px 0px rgb(105, 109, 112), 
                 -2px 2px 0px rgb(105, 109, 112), 
                 -2px -2px 0px rgb(105, 109, 112), 
                 2px 0px 0px rgb(105, 109, 112), 
                 0px 2px 0px rgb(105, 109, 112), 
                 -2px 0px 0px rgb(105, 109, 112), 
                 0px -2px 0px rgb(105, 109, 112);
  }
  
  @media only screen and (max-width:991px) {
    .section-title-home {
      display: inline-block;
      position: relative;
      /* margin-left: -20px; */
      padding-left: 20px;
      font-size: 1.2em;
    }
  
    .section-title-home:after {
      display: none
    }
  }


  .flag {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    
    padding: 2px;
    border-radius: 2.5px;
  }
  .indonesia {
    background: linear-gradient(#fe0000 50%, #fff 0);x
  }

  .text-idn {
    background: linear-gradient(white 50%, #ff3737 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    padding: 3px;
    font-size: 0.76em;
    text-shadow: 0px 0px 5px #bbb;
  }

  .div-button-about {
    width: 100%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
  }

  a.button-about {
    display: inline-block!important;
    position: relative!important;
    padding: .3em 1.3em!important;
    margin-bottom: .25em!important;
    line-height: 1.2!important;
    border: 0!important;
    outline: 0;
    color: #fff!important;
    border: 2px solid #225982!important;
    background-color: #225982!important;
    text-shadow: none!important;
    border-radius: 4px!important;
    font-family: pt sans, Helvetica, sans-serif!important;
  }

  a.button-about:hover, a.button-about:focus {
    color: #225982!important;
    background: 0 0!important;
  }

  .text-button-about {
    /* padding: .8em 2em; */
    font-size: 1.2em!important;
  }